mobile.sh
.obsidian/desktop.sh
# .obsidian/plugins/obsidian-activity-history/data.json
# .obsidian/plugins/sliding-panes-obsidian/data.json
.obsidian/community-plugins.json
.obsidian/workspace
.obsidian/plugins/**/data.json
.nomedia
